<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>操作失败</title>
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<style type="text/css">
		.count-time{
			font-style: normal;
			color:blue;
		}
		.container{position:relative;}
	</style>
</head>
<body>
	<div class="container">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">操作失败</h3>
			</div>
			<div class="panel-body">登录失败,密码错误</div>
			<div class="panel-footer">
				系统将于<em class="count-time">3</em>秒后跳转,如果不想等待,<a href="./login.html">请点这里</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(".container").css('top',($(window).height()-$(".container").height())/2);
		var countStart=$(".count-time").text();
		var timer=setInterval(function(){
			if(countStart<=0){
				countStart==0;
				clearInterval(timer);
				window.location.href="./login.html";
			}
			else{
				countStart--;
				$(".count-time").text(countStart);
			}
		},1e3);
	</script>
</body>
</html>