<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>房品云--管理系统</title>
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	<!-- 登录状态 -->
	<div class="bar clearfix" ng-controller="navCtrl">
		<div class="pull-right bar-right">
			<a ng-href="{{data.indexView.link}}" ng-bind="data.indexView.content"></a>
			|
			<span class="admin-name" ng-bind-template="{{data.person.class}} : {{data.person.name}}"></span>
			|
			[<a ng-href="{{data.logoutView.link}}" ng-bind="data.logoutView.content"></a>]
		</div>
	</div>
	<!-- 登录状态end -->
	<!-- 头部导航 -->
	<div class="navbar navbar-default nav-index">
		<div class="navbar-header">
			<div class="navbar-brand">
				<img src="../static/img/logo.gif" alt="房品云">
			</div>
		</div>
		<div class="collapse navbar-collapse" ng-controller="listCtrl">
			<ul class="nav navbar-nav" nav-toggle>
				<li class="{{$index==curIndex ? 'active' : ''}}" ng-repeat="item in barList">
					<a ui-sref="{{item.data_uri}}" ng-bind="item.content"></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- 头部导航end -->
	<!-- 主要内容 -->
	<div id="content" class="clearfix">
		<div ui-view></div>
	</div>
	<!-- 主要内容end -->
	<script type="text/javascript" src="../lib/seajs/sea.js"></script>
	<script type="text/javascript" src="../lib/seajs/sea.config.js"></script>
	<script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
	<script type="text/javascript">
		seajs.use('../static/js/admin');
	</script>
</body>
</html>